<div>
    <p><span style="color: rgb(0, 0, 0);">Thank you for using our service!</span></p>
    <p><span style="color: rgb(0, 0, 0);">Enter the PIN code below to authenticate your account.</span></p>
    <p><span style="color: rgb(0, 0, 0);">PIN:</span></p>
    <p><span style="color: rgb(255, 0, 0);">{{code}}</span></p>
    <p><span style="color: rgb(0, 0, 0);">* The PIN is valid for 45 minutes after receiving this email.</span></p>
    <p><span style="color: rgb(0, 0, 0);">Please note that you cannot reply to this email.</span></p>
    <p><span style="color: rgb(0, 0, 0);">Contact: </span><a href="https://123456.com" rel="noopener noreferrer"
            target="_blank" style="color: rgb(17, 85, 204);">123456.com</a></p>
</div>